header {
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../images/background-fp.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F6E7CB;
  text-shadow:  0 2px rgb(0 0 0 / 20%);
}
header p {
  font-weight: 600;
  margin-bottom: 25px;
}
header a {
  background-color: #6d6d6d;
  color: #F6E7CB;
  padding: 15px 25px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
a:hover {
  background-color: #60B2E5;
}
